<div class="alert alert-danger" *ngIf="errorMessage">
  {{ errorMessage }}
</div>
<div class="alert alert-success" *ngIf="successMessage">
  {{ successMessage }}
</div>

<form #todoForm="ngForm">
  <div class="form-group">
    <label for="Name">Name</label>
    <input id="Name" name="Name" class="form-control"
           [(ngModel)]="todoItem.Name" #Name="ngModel">

    <div>
      <label for="Description">Description</label>
      <input id="Description" name="Description" class="form-control"
             required minlength="4"
             [(ngModel)]="todoItem.Description" #Description="ngModel">



    </div>
  </div>
  <div class="form-group">
    <label for="DueDate">Due Date</label>
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dueDate" [(ngModel)]="dueDate" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="dueTime">Time</label>
    <div class="input-group">
      <ngb-timepicker name="time" [(ngModel)]="time"></ngb-timepicker>
    </div>
  </div>
  
 
    <button [disabled]="todoForm.invalid" class="btn btn-primary" (click)="saveItem()">Create</button>
   
</form>
